
@font-face {
    font-family:"Whyte-Regular";
    src:url("Whyte Regular.woff2") format("woff2"),url("Whyte Regular.woff") format("woff"),url("Whyte Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        