/*
 MANHATTAN HYDRAULICS
 A down to earth product studio.
 ==============================================
 css/main.css
 This file contains the main CSS code
 for styling the Hydro website.
 */

@import "fonts.css";

:root {
  --forest-green: rgba(24, 21, 20, 1);
  --forest-green-gradient: linear-gradient(
    0deg,
    rgba(24, 21, 20, 1) 0%,
    rgba(24, 21, 20, 0.8) 90%,
    rgba(24, 21, 20, 0) 100%
  );
  --cardboard-brown: rgba(150, 138, 135, 1);
  --cardboard-brown-gradient: linear-gradient(
    0deg,
    rgba(150, 138, 135, 1) 0%,
    rgba(150, 138, 135, 0.9) 90%,
    rgba(150, 138, 135, 0) 100%
  );
  --cloud-blue: rgba(223, 237, 254, 1);
  --cloud-blue-gradient: linear-gradient(
    0deg,
    rgba(223, 237, 254, 1) 0%,
    rgba(223, 237, 254, 0.9) 90%,
    rgba(223, 237, 254, 0) 100%
  );
  --spring-white: rgba(249, 245, 243, 1);
  --construction-yellow: rgb(222, 197, 13);
  --construction-yellow-gradient: linear-gradient(
    0deg,
    rgba(222, 197, 13) 0%,
    rgba(222, 197, 13, 0.9) 90%,
    rgba(222, 197, 13, 0) 100%
  );
  --manhattan-blue: rgb(62, 111, 190);
  --manhattan-blue-gradient: linear-gradient(
    0deg,
    rgba(62, 111, 190, 1) 0%,
    rgba(62, 111, 190, 0.9) 90%,
    rgba(62, 111, 190, 0) 100%
  );
  --font-stack: "Whyte", Helvetica, Arial, sans-serif;
  --font-stack-header: "Whyte Inktrap", var(--font-stack);
}

body {
  background-color: var(--forest-green);
  color: var(--spring-white);
  font: 18px var(--font-stack);
  letter-spacing: -2%;
  transition: 0.1s all ease-out;
  line-height: 1.75rem;

  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "zero" 1, "calt" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "zero" 1, "calt" 1;
  -o-font-feature-settings: "kern" 1, "liga" 1, "zero" 1, "calt" 1;
  font-feature-settings: "kern" 1, "liga" 1, "zero" 1, "calt" 1;
  font-kerning: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: currentColor;
  text-decoration: 1px underline dashed currentColor;
  text-underline-offset: 2px;
  padding-top: 10px;
}

strong {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  /* padding: 2rem; */
  position: relative;
}

.panel {
  width: calc(50vw - 2rem);
  position: fixed;
  padding: 2rem 0;
  overflow-y: scroll;
  margin-bottom: 8rem;
  min-height: 100%;
  top: 0;
  bottom: 0;
}

.panel::-webkit-scrollbar {
  display: none;
}

.panel header svg {
  padding-top: 2rem;
}

.panel--left {
  padding-left: 2rem;
  left: 0;
}

.panel--left header,
.panel--right header {
  padding-bottom: 1.25rem;
}

.panel--left header svg {
  height: 6.3rem;
}

.panel--right {
  padding-right: 2rem;
  right: 0;
}

.panel--right header svg {
  height: 7.8rem;
}

main {
  opacity: 0;
  display: none;
  margin-top: -2rem;
  padding-bottom: 8rem;
}

main::-webkit-scrollbar {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6rem;
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  background: var(--forest-green-gradient);
  transition: 0.1s all ease-out;
  padding-top: 1rem;
}

body.left {
  background: var(--manhattan-blue);
  color: var(--spring-white);
}

body.left footer {
  background: var(--manhattan-blue-gradient);
}

body.left footer section {
  opacity: 60%;
}

body.right {
  background: var(--construction-yellow);
  color: var(--forest-green);
}

body.right footer {
  background: var(--construction-yellow-gradient);
}

body.right footer section {
  opacity: 60%;
}

footer section {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

h1 {
  font-size: 8vw;
  line-height: 140%;
  margin-bottom: 1.25rem;
  font-family: var(--font-stack-header);
  letter-spacing: -4px;
}

h2 {
  /* text-indent: 2rem; */
  text-transform: uppercase;
  letter-spacing: 2%;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

h2 + p, h2 + ul {
  margin-left: 2rem;
}

main {
  max-width: 80%;
}

ul li {
  text-indent: -2rem;
  margin-left: 2rem;
}

p,
ul {
  margin-bottom: 1.25rem;
}

footer p,
footer ul {
  margin-bottom: 0.25rem;
}

.footer--right {
  display: flex;
  flex-direction: row;
}

.footer--right div {
  flex: 1;
  display: flex;
  align-items: flex-end;
}